html, body {
    background-color: #fff;
    color: #222222;
    font-family: 'Cambay', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 50px;
}

.links > a {
    /* color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase; */
}

.m-b-md {
    margin-bottom: 30px;
}

.title, #main, .primary-menu, #copyright {
    max-width:70%;
    margin:0 auto;
}

.title {
    text-align:center;
}

.navbar-menu {
    background-color:#222222;
    padding:10px;
    text-align:center;
}

.navbar-menu a,
.navbar-menu a:visited {
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px 20px 20px 0;
    text-transform: uppercase;
}

.navbar-menu a:hover {
    color: #AFAFAF;
    text-decoration: none;
}

.navbar-item {
    padding:10px 20px 10px 0;
    margin:0;
    position:relative;
}

#main {
    min-height:300px;
}

footer {
    background-color:#222222;
    min-height:200px;
    color:#FFFFFF;
}

#social-media {
    padding:20px 20px 5px 20px;
}

#social-media a,
#social-media a:hover,
#social-media a:visited {
    color:#FFFFFF;
    text-decoration:none;
}

/* #copyright {
    padding:30px 0;
} */

/* .naviation {
    width:100%;
}

.primary-menu {
    max-width:80%;
    margin:0 auto;
}

ul.primary-menu li {
    float:left;
    position:relative;
    list-style-type: none;
    padding:10px;
} */